<div class="container-fluid p-0 h-100">
  <div class="h-100">
    <div
    style="
        background-image: url(assets/{{image}});
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: content-box;
    "
    class="h-100"
></div>
    <div class="card-img-overlay">
      <div class="row h-100">
        <div class="col-sm-6 col-md-4 col-lg-6"></div>
        <div class="col-md-6 col-lg-5 col-lx-4">
          <div
            class="d-flex justify-content-center align-items-center h-100 w-100"
          >
            <div
              class="card w-100 p-4"
              style="border-radius: 15px"
              [@photoState]="animation ? '' : 'spin'"
            >
              <div class="card-body h-100 m-2">
                <ng-container [ngTemplateOutlet]="tela"></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-1"></div>
      </div>
    </div>
  </div>
</div>
<div class="position-absolute aumentar" style="bottom: 5px; left: 20px">
  <a
    href="https://www.linkedin.com/in/arlan-mendes-b190a717b/"
    style="text-decoration: none; color: rgb(255, 60, 60)"
    ><p class="small">
      <span class="text-white">© Create by: </span>dev.arlan
    </p></a
  >
</div>

<ng-template #login>
  <h1 class="card-title fw-bolder mb-2">GET STARTED</h1>
  <p class="text-muted" style="font-size: 18px">
    This is a secure system and you will need to provide your login details to
    access the site
  </p>
  <div class="form-group">
    <input
      type="email"
      class="input-field w-100"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group mt-2 mb-3">
    <input type="password" class="input-field w-100" placeholder="Password" />
    <button (click)="animar('forgot')">Forgot?</button>
  </div>
  <div class="mt-3 d-flex justify-content-start">
    <h6 class="text-muted p-0 mt-2">
      No account?
      <a class="text-danger" style="cursor: pointer" (click)="animar('newUser')"
        >Signup</a
      >
    </h6>
  </div>
  <div class="mt-2">
    <div class="d-flex justify-content-end align-items-center">
      <button
        type="button"
        class="btn btn-danger shadow bt-login"
        (click)="carregando = !carregando"
      >
        <span *ngIf="!carregando">Login</span>
        <i *ngIf="carregando" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #forgot>
  <div class="d-flex mb-3">
    <button class="btn btn-danger" (click)="animar('login')">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <h1 class="card-title fw-bolder mb-2">FORGOT PASSWORD ?</h1>
  <p class="text-muted mb-1" style="font-size: 18px; text-indent: 3px">
    DON'T WORRY
  </p>
  <div class="form-group">
    <input
      type="email"
      class="input-field w-100 mb-3"
      placeholder="name@example.com"
    />
  </div>
  <div class="mt-2">
    <div class="d-flex justify-content-end align-items-center">
      <button
        type="button"
        class="btn btn-danger shadow bt-login"
        (click)="carregando = !carregando"
      >
        <span *ngIf="!carregando">Reset it</span>
        <i *ngIf="carregando" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #newUser>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="card-title fw-bolder mb-2">WELCOME</h1>
    <p class="text-muted" style="font-size: 18px">Just fill the forms below.</p>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <div class="form-group">
        <input
          type="email"
          class="input-field w-100"
          placeholder="name@example.com"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group mb-3">
        <input
          type="password"
          class="input-field w-100"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group mb-3">
        <input
          type="password"
          class="input-field w-100"
          placeholder="Repeat password"
        />
      </div>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-start">
    <h6 class="text-muted p-0">
      Already have?
      <a class="text-danger" style="cursor: pointer" (click)="animar('login')"
        >Signin</a
      >
    </h6>
  </div>
  <div class="mt-2">
    <div class="d-flex justify-content-end align-items-center">
      <button
        type="button"
        class="btn btn-danger shadow bt-login"
        (click)="carregando = !carregando"
      >
        <span *ngIf="!carregando">Register</span>
        <i *ngIf="carregando" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</ng-template>
